<!-- <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="toggle-0" >
  <ngb-panel title="Paasdnel0" id="toggle-0">
    <ng-template ngbPanelContent>
      Panddfsfdel xbdbb 0
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Paasdnel1" id="toggle-1">
    <ng-template ngbPanelContent>
      <div id="collapseOne" class="collapse show">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Paasdnel2" id="toggle-2">
    <ng-template ngbPanelContent>
      Panddfsfdel sdfsfdg2
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Paasdnel3" id="toggle-3">
    <ng-template ngbPanelContent>
      Panddfsfdel sdfsfdg3
    </ng-template>
  </ngb-panel>
</ngb-accordion> -->



<div class="row">
    <div class="col-md-10 offset-md-1">
        <p class="h4"><strong>Preguntas y Respuestas Frecuentes</strong></p>

        <p class="h5"><strong>¿Se necesita una licencia para pescar en el mar?</strong></p>
        <p>
            Sí. Para realizar pesca deportivo - recreativa desde embarcaciones, se requiere una Licencia 
            de Pesca otorgada por la Oficina Nacional de Inspección Estatal del Ministerio de la Industria 
            Alimentaria (Res. MINAL 18/20 “Procedimiento para el otorgamiento de autorizaciones de pesca en la 
            República de Cuba” y Res. 132/20 del mismo organismo que modifica las tarifas de precios).
         </p>

        <p class="h5"><strong>¿Dónde obtener una licencia para pescar?</strong></p>
        <p>
            Para obtener una licencia para pesca deportivo - recreativa puede dirigirse a cualquiera de las 
            Direcciones Provinciales de la Oficina Nacional de Inspección Estatal.
        </p>

        <p class="h5"><strong>¿Puede un extranjero pescar en el mar en su propia embarcación?</strong></p>
        <p>
            Sí. La pesca deportivo - recreativa podrá efectuarse desde embarcaciones (Ley 129/19 “Ley de Pesca” 
            y Decreto No. 1/19 “Reglamento de la Ley de Pesca”, Art. 13.3) siempre que previamente obtenga una 
            Licencia de Pesca otorgada por la Oficina Nacional de Inspección Estatal del Ministerio de la 
            Industria Alimentaria.
        </p>

        <p class="h5"><strong>¿Dónde se puede pescar en Cuba desde su propia embarcación?</strong> </p>
        <p>
            Se puede realizar la pesca deportiva y recreativa desde embarcaciones, en aquellas zonas de las 
            aguas bajo jurisdicción nacional, excepto en aquellas áreas sujetas a regímenes especiales y 
            utilizando los artes de pesca autorizados para la pesca deportiva y recreativa, Decreto No. 1/19 
            “Reglamento de la Ley de Pesca” Art. 15.1 y previa obtención de una licencia de pesca (Res. MINAL 
            18/20 “Procedimiento para el otorgamiento de autorizaciones de pesca en la República de Cuba” y Res. 
            132/20 del mismo organismo que modifica las tarifas de precios).
        </p>

        <p class="h5"><strong>¿Sólo es necesario un guía en las reservas o parques marinos?</strong> </p>
        <p>
            Generalmente es necesario un guía de pesca en aquellas zonas con regulaciones especiales cuya explotación 
            pesquera es administrada por entidades turísticas autorizadas.
        </p>

        <p class="h5"><strong>¿Desde tierra, dónde se puede pescar sin guía?</strong> </p>
        <p>
            La pesca solo puede ser ejecutada por las personas naturales o jurídicas, cubanas o extranjeras, 
            que poseen la correspondiente autorización para tales fines, en atención a lo establecido en la 
            Ley 129/19 “Ley de Pesca” y su Reglamento (Artículo 7 Ley 129/19 “Ley de Pesca”).
        </p>
        <p>
            Se excluye de lo dispuesto en el artículo precedente la pesca que se practica de manera libre por 
            las personas naturales, nacionales o extranjeras, en aguas marítimas, fluviales y lacustres que se 
            realiza desde el litoral u orillas naturales mediante varas, carretes, cordeles y anzuelos, sin el 
            auxilio de medios flotantes (Artículo 8.1 Ley 129/19 “Ley de Pesca”).
        </p>
        <p>
            En las zonas de pesca declaradas como zonas de alta significación ambiental e importancia 
            histórico - cultural y los embalses de interés estatal, no se permite esta práctica, sin previa 
            autorización.
        </p>

        <p class="h5"><strong>Si el pescador navega en su propia embarcación entre una marina y otra, ¿puede pescar en ese trayecto?</strong></p>
        <p>
            Sí, siempre que previamente obtenga una Licencia de Pesca otorgada por la Oficina Nacional de Inspección Estatal del 
            Ministerio de la Industria Alimentaria.
        </p>

        <p class="h5"><strong>¿Puede una embarcación extranjera salir a pescar fuera de las doce millas y regresar con la captura?</strong></p>
        <p>
            Entre las disposiciones complementarias a la Ley 129/19 “Ley de Pesca” y su Reglamento está vigente la limitación 
            de la cuota máxima de captura permisible a desembarcar (Res. MINAL 21/20).
        </p>

        <p class="h5"><strong>¿Existen tallas mínimas para el desembarque de especies de la plataforma?</strong></p>
        <p>
            Sí. Entre las disposiciones complementarias a la Ley 129/19 “Ley de Pesca” y su Reglamento está vigente la prohibición 
            en todo el territorio nacional de la captura, el desembarque, la transportación y la comercialización de aquellas especies 
            acuáticas de la plataforma marina cubana, cuyas tallas mínimas se encuentren por debajo de las consignadas (Res. MINAL 126/09).
        </p>

        <p class="h5"><strong>¿Existen especies potencialmente tóxicas en Cuba?</strong></p>
        <p>
            Sí. Entre las disposiciones complementarias a la Ley 129/19 “Ley de Pesca” y su Reglamento está vigente la prohibición 
            en todo el territorio nacional de la captura, el desembarque y la comercialización de las especies consideradas 
            por el Ministerio de Salud Pública como potencialmente tóxicas. (Res. MINAL 457/96)
        </p>

        <p class="h5"><strong>¿Existe en Cuba una cuota máxima de captura?</strong></p>
        <p>
            Sí. Entre las disposiciones complementarias a la Ley 129/19 “Ley de Pesca” y su Reglamento está vigente la limitación 
            de la cuota máxima de captura permisible a desembarcar (Res. MINAL 21/20)
        </p>

        <p class="h5"><strong>¿Puede un pescador acumular cuotas de captura y trasladarse con ellas cuando lo considere?</strong></p>
        <p>
            No. Las cuotas de captura no son acumulativas.
        </p>

        <p class="h5"><strong>¿En la pesca deportivo – recreativa se autoriza pescar con artes masivos?</strong></p>
        <p>
            No. En la pesca deportiva y la pesca recreativa que se practique en las aguas marítimas, 
            fluviales y lacustres solo se utilizan como artes o avíos, el carrete, la vara, el cordel y 
            el anzuelo; se autoriza el uso de la atarraya exclusivamente en aguas marítimas y con el único 
            fin de obtener carnada.
        </p>
        <p>
            Se prohíbe la utilización de artes de pesca tales como nasas, palangres, redes de enmalle, tranques, 
            chinchorros u otras artes de pesca masivos, así como el uso de sustancias químicas y explosivos 
            (Decreto No. 1/19 “Reglamento de la Ley de Pesca”).
        </p>

        <p class="h5"><strong>¿Está autorizada la pesca con chinchorros de arrastre?</strong></p>
        <p>
            No. Se prohíbe el uso de tranques y chinchorros escameros de arrastre, así como de sustancias 
            químicas o explosivas; excepcionalmente, el Ministro de la Industria Alimentaria puede autorizar 
            el uso de tranques para la pesca comercial estatal en las corridas de alimentación de las especies 
            Cibi y Cojinúa (Artículo 25 del Decreto No. 1/19 “Reglamento de la Ley de Pesca”.
        </p>

        <p class="h5"><strong>¿Está autorizada la pesca con el arte de pesca tradicional conocido como atarraya?</strong></p>
        <p>
            Sí. Se autoriza el uso de la atarraya en la pesca deportivo – recreativa que se realiza exclusivamente 
            en aguas marítimas y con el único fin de obtener carnada (Artículo 15.1 del Decreto No. 1/19 
            “Reglamento de la Ley de Pesca”).
        </p>

        <p class="h5"><strong>¿Puedo capturar especies de crustáceos tales como langosta, camarón, etc.?</strong></p>
        <p>
            No. La captura de especies de crustáceos está destinada exclusivamente a la pesca comercial.
        </p>

        <p class="h5"><strong>¿Se puede realizar en Cuba pesca submarina?</strong></p>
        <p>
            Sí. La pesca recreativa es aquella mediante la que se produce la captura de organismos acuáticos 
            con fines recreativos o de esparcimiento, incluye la pesca submarina (Artículo 14.3 del Decreto 
            No. 1/19 “Reglamento de la Ley de Pesca”).
        </p>

        <p class="h5"><strong>¿Cómo puede realizarse la pesca submarina en Cuba?</strong></p>
        <p>
            La pesca recreativa puede efectuarse desde el litoral y desde la orilla de las aguas marítimas, 
            fluviales y lacustres, por medio de buques, embarcaciones, artefactos navales o mediante la pesca 
            submarina (Artículo 13.3 del Decreto No. 1/19 “Reglamento de la Ley de Pesca”).
        </p>
        <p>
            La pesca submarina solo puede practicarse los sábados, domingos y días feriados, en las aguas 
            marítimas que se consignan en el Capítulo V de dicho Reglamento y mediante buceo a pulmón libre 
            y con escopetas de liga o resorte, oleoneumáticas y arpón, siempre en cantidades unitarias 
            (Artículo 16 del Decreto No. 1/19 “Reglamento de la Ley de Pesca”.
        </p>
        <p>
            Se prohíbe la celebración de cualquier tipo de evento competitivo relacionado con la pesca 
            submarina en el territorio nacional Artículo 17 del Decreto No. 1/19 “Reglamento de la Ley de Pesca”.
        </p>

        <p class="h5"><strong>¿Cómo debo desembarcar las capturas de la pesca deportiva o de la recreativa?</strong> </p>
        <p>
            Se autoriza el desembarque de toda la captura que se obtenga en los eventos deportivos 
            oficiales que se realicen, tanto en aguas marítimas como en embalses, a partir de la aprobación 
            de la dirección encargada de las regulaciones pesqueras de este organismo y previo a la obtención 
            de la correspondiente Licencia de Pesca (Resuelvo Primero de la Res. MINAL 21/20).
        </p>
        <p>
            Establece que todo el pescado que se obtenga en las pesquerías de ambas modalidades, tanto en aguas 
            marítimas como en embalses, se desembarque entero o simplemente eviscerado; se considerará una 
            infracción del régimen de pesca respecto a talla o peso mínimos establecidos y a especies prohibidas 
            el empleo de cualquier proceso que dificulte o impida la identificación de las especies o altere la 
            talla o el peso de los ejemplares capturados, como son filetear, descabezar o descuerar 
            (Resuelvo Quinto de la Res. MINAL 21/20).
        </p>

        <hr>
        <p class="text-justify">
            Para más información no dude en <a [routerLink]="['/contactenos']">contactarnos</a> en nuestra oficina mas cercana. 
        </p>
    </div>
</div>