<form [formGroup]="reservoirForm">
<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group" formArrayName="reservoirList">
                <div class="row"
                    *ngFor="let item of getControlsReservoirList(); let i = index"
                    [formGroupName]="i"
                    style="margin-top: 10px">

                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text"
                                    id="reservoirName"
                                    formControlName="reservoirName"
                                    class="form-control"
                                    placeholder="Nombre del Embalse">
                                    <small *ngIf="reservoirName(i).invalid && reservoirName(i).touched">
                                        <small class="text-danger" *ngIf="reservoirName(i).errors.required">{{errors.required}}</small>
                                        <small class="text-danger" *ngIf="reservoirName(i).errors.required">{{errors.pattern}}</small>
                                    </small>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="number"
                                    min="0"
                                    id="reservoirSurface"
                                    formControlName="reservoirSurface"
                                    class="form-control"
                                    placeholder="Superficie">
                                    <small *ngIf="reservoirSurface(i).invalid && reservoirSurface(i).touched">
                                        <small class="text-danger" *ngIf="reservoirSurface(i).errors.required">{{errors.required}}</small>
                                        <small class="text-danger" *ngIf="reservoirSurface(i).errors.required">{{errors.pattern}}</small>
                                        <small class="text-danger" *ngIf="reservoirSurface(i).errors.nonZero">{{errors.nonZero}}</small>
                                    </small>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-danger" (click)="onDeleteReservoir(i)">X</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-footer">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-success"
            (click)="onAddReservoir()">Añadir Acuatorio</button>
        </div>
    </div>
</div>
</form>
