<div class="row">
    <div class="col-md-12">
        <p class="h5">Tipos de Pesquerías</p>
        <p class="text-justify">
            La licencia para cada una de las embarcaciones dedicadas a la pesca comercial estatal en aguas marítimas, se expide para los siguientes tipos de pesquerías y está sujeta a las tarifas anuales que se relacionan a continuación:
        </p>
        <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tipo de Pesquería</th>
            <th scope="col">Tarifa</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Pesca de langosta</td>
            <td>400.00 CUP</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Pesca de camarón </td>
            <td>350.00 CUP</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Pesca de bonito y otros atunes </td>
            <td>300.00 CUP</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Pesca de escama  </td>
            <td>250.00 CUP</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Pesca de almejas  </td>
            <td>200.00 CUP</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>Pesca de ostiones  </td>
            <td>200.00 CUP</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>Pesca de cobo   </td>
            <td>300.00 CUP</td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td>Pesca de esponjas </td>
            <td>300.00 CUP</td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td>Pesca de cangrejos </td>
            <td>200.00 CUP</td>
        </tr>
        <tr>
            <th scope="row">10</th>
            <td>Pesca de jaibas </td>
            <td>200.00 CUP</td>
        </tr>
        <tr>
            <th scope="row">11</th>
            <td>Pesca de batoideos </td>
            <td>250.00 CUP</td>
        </tr>
        <tr>
            <th scope="row">12</th>
            <td>Pesca de tiburones </td>
            <td>250.00 CUP</td>
        </tr>
        <tr>
            <th scope="row">13</th>
            <td>Pesquerías no relacionadas anteriormente </td>
            <td>200.00 CUP</td>
        </tr>
        </tbody>
        </table>
        <hr>
        <p class="text-justify">
            Para más información no dude en <a [routerLink]="['/contactenos']">contactarnos</a> en nuestra oficina mas cercana. 
        </p>
    </div>
</div>
