<div class="col-md-5 offset-md-7">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Cambiar Contraseña</h5>
            <h6 class="card-subtitle mb-2 text-muted">Atienda cuidadosamente</h6>
        </div>
        <form [formGroup]="passForm" (ngSubmit)="onSubmit()">
        <div class="card-body">
                <div class="form-group">
                    <label for="username">Usuario</label>
                    <input type="text" 
                            id="username" 
                            formControlName="username" 
                            class="form-control"
                            placeholder="Usuario">
                </div>
                <div class="form-group">
                    <label for="password">Anterior Contraseña</label>
                    <input type="password" 
                            id="password" 
                            formControlName="password" 
                            autocomplete="off" 
                            class="form-control"
                            placeholder="Anterior Contraseña">
                            <small *ngIf="password.invalid && password.touched">
                                <small class="text-danger" *ngIf="password.errors.required">{{errors.requiredPass}}</small>
                                <small class="text-danger" *ngIf="password.errors.oldPass">{{errors.oldPass}}</small>
                            </small>
                </div>
                <div class="form-group">
                    <label for="newPassword">Nueva Contraseña</label>
                    <input type="password" 
                            id="newPassword" 
                            autocomplete="off" 
                            formControlName="newPassword" 
                            class="form-control"
                            placeholder="Nueva Contraseña">
                            <small *ngIf="usedPass">
                                <small class="text-danger">{{errors.usedPass}}</small>
                            </small>
                            <small *ngIf="newPassword.invalid && newPassword.touched">
                                <small class="text-danger" *ngIf="newPassword.errors.required">{{errors.requiredPass}}</small>
                                <small class="text-danger" *ngIf="newPassword.errors.strongPass">{{errors.strongPass}}</small>
                                <small class="text-danger" *ngIf="newPassword.errors.currentPass">Contraseña actual</small>
                            </small>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Repetir Contraseña</label>
                    <input type="password" 
                            id="confirmPassword" 
                            autocomplete="off" 
                            formControlName="confirmPassword" 
                            class="form-control"
                            placeholder="Repetir Contraseña">
                            <small *ngIf="confirmPassword.invalid && confirmPassword.touched">
                                <small class="text-danger" *ngIf="confirmPassword.errors.required">{{errors.requiredPass}}</small>
                                <small class="text-danger" *ngIf="confirmPassword.errors.confirmedValidator">{{errors.confirmPass}}</small>
                            </small>
                </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <button class="btn btn-primary" type="submit" [disabled]="inValidForm()">Aceptar</button>
            </div>
        </div>
    </form>
    </div>
</div>
