<div class="row">
    <div class="col-md-12">
        <p class="h5">Artes de Pescas</p>
        <p class="text-justify">
            La relación entre los tipos y cantidades máximas de las artes de pesca permitidas por cada embarcación principal para la práctica de la pesca comercial no estatal en aguas marítimas será la siguiente:
        </p>
        <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Artes de Pescas Autorizados para cada Embarcación</th>
            <th scope="col">Cantidad Máxima Permitida</th>
            <th scope="col">Características</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Redes de Enmalle</td>
            <td>2 por Embarcacion</td>
            <td>Longitud máxima: 150 metros cada una. Abertura de malla: 40 mm mínimo.</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Palangres</td>
            <td>3 por Embarcacion</td>
            <td>100 anzuelos cada una.</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Nasas</td>
            <td>10 por Embarcacion</td>
            <td>Las dimensiones no excederán los 100 cm de largo, 40 cm de alto y 55 cm de ancho, con abertura de malla no menor de 50 mm.</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Líneas de mano</td>
            <td>2 por Pescador</td>
            <td></td>
        </tr>
        </tbody>
        </table>
        <hr>
        <p class="text-justify">
            Para más información no dude en <a [routerLink]="['/contactenos']">contactarnos</a> en nuestra oficina mas cercana. 
        </p>
    </div>
</div>
