<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title"></h5>
                <h6 class="card-subtitle mb-2 text-muted">Listado de Usuarios</h6>
            </div>
            <div class="card-body">
                
                <ul class="list-group list-group-flush">
                    <li class="list-group-item click" 
                    style="cursor: pointer"
                    *ngFor="let item of user$ | async;" 
                    (click)="onItemDetails(item.userCode)">
                        <a [routerLink]="[item.userCode]" routerLinkActive="active">
                            <div class="col-md-12">
                                <div class="text-left row-md-6">
                                  <h5> {{item.firstName}} {{item.lastName}} </h5>
                                </div>
                                <div class="text-left row-md-6">
                                    <strong>Usuario: </strong> {{item.username}} | <strong>Nivel: </strong>{{item.userRol.roleName}}  | <strong>Provincia: </strong>{{item.personProvince.provinceName}}
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
    
