<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Cambiar Contraseña</h5>
                <h6 class="card-subtitle mb-2 text-muted">Restablacer contraseña de usuario</h6>
            </div>
            <form [formGroup]="passForm" (ngSubmit)="onSubmit()">
            <div class="card-body">
                    <div class="form-group">
                        <label for="username">Usuario</label>
                        <input type="text" 
                                id="username" 
                                formControlName="username" 
                                class="form-control"
                                placeholder="Usuario">
                    </div>
                    <div class="form-group">
                        <label for="newPassword">Nueva Contraseña</label>
                        <input type="password" 
                                id="newPassword" 
                                formControlName="newPassword" 
                                class="form-control"
                                placeholder="Nueva Contraseña">
                                <small *ngIf="newPassword.invalid && newPassword.touched">
                                    <small class="text-danger" *ngIf="newPassword.errors.required">{{errors.requiredPass}}</small>
                                    <small class="text-danger" *ngIf="newPassword.errors.strongPass">{{errors.strongPass}}</small>
                                </small>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Repetir Contraseña</label>
                        <input type="password" 
                                id="confirmPassword" 
                                formControlName="confirmPassword" 
                                class="form-control"
                                placeholder="Repetir Contraseña">
                                <small *ngIf="confirmPassword.invalid && confirmPassword.touched">
                                    <small class="text-danger" *ngIf="confirmPassword.errors.required">{{errors.requiredPass}}</small>
                                    <small class="text-danger" *ngIf="confirmPassword.errors.confirmedValidator">{{errors.confirmPass}}</small>
                                </small>
                    </div>
            </div>
            <div class="card-footer">
                <button class="btn-cancel" (click)="onCancel()">Cancelar</button>
                <button class="btn-save" type="submit" >Aceptar</button>
            </div>
        </form>
        </div>
    </div>
</div>