<form [formGroup]="shipsForm">
<div class="card-body">
    <div class="form-group" formArrayName="shipList">
        <div class="row"
            *ngFor="let item of getControlsShipList(); let i = index"
            [formGroupName]="i"
            style="margin-top: 10px">
            <div class="col-md-3">
                <div class="form-group">
                    <input type="text"
                            id="shipName"
                            formControlName="shipName"
                            class="form-control"
                            placeholder="Nombre del Barco">
                            <small *ngIf="shipName(i).invalid && shipName(i).touched">
                              <small class="text-danger" *ngIf="shipName(i).errors.required">{{errors.required}}</small>
                              <small class="text-danger" *ngIf="shipName(i).errors.required">{{errors.required}}</small>
                            </small>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input type="text"
                            id="shipRegistry"
                            formControlName="shipRegistry"
                            class="form-control"
                            placeholder="Lista">
                            <small *ngIf="shipRegistry(i).invalid && shipRegistry(i).touched">
                              <small class="text-danger" *ngIf="shipRegistry(i).errors.required">{{errors.required}}</small>
                            </small>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input type="text"
                            id="shipFolio"
                            formControlName="shipFolio"
                            class="form-control"
                            placeholder="Folio">
                            <small *ngIf="shipFolio(i).invalid && shipFolio(i).touched">
                              <small class="text-danger" *ngIf="shipFolio(i).errors.required">{{errors.required}}</small>
                            </small>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input type="number"
                            id="shipLength"
                            min="0"
                            formControlName="shipLength"
                            class="form-control"
                            min="0"
                            placeholder="Eslora">
                            <small *ngIf="shipLength(i).invalid && shipLength(i).touched">
                              <small class="text-danger" *ngIf="shipLength(i).errors.required">{{errors.required}}</small>
                              <small class="text-danger" *ngIf="shipLength(i).errors.pattern">{{errors.pattern}}</small>
                              <small class="text-danger" *ngIf="shipBreadth(i).errors.nonZero">{{errors.nonZero}}</small>
                            </small>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input type="number"
                            id="shipBreadth"
                            min="0"
                            formControlName="shipBreadth"
                            class="form-control"
                            min="0"
                            placeholder="Manga">
                            <small *ngIf="shipBreadth(i).invalid && shipBreadth(i).touched">
                              <small class="text-danger" *ngIf="shipBreadth(i).errors.required">{{errors.required}}</small>
                              <small class="text-danger" *ngIf="shipBreadth(i).errors.pattern">{{errors.pattern}}</small>
                              <small class="text-danger" *ngIf="shipBreadth(i).errors.nonZero">{{errors.nonZero}}</small>
                            </small>
                </div>
            </div>
            <div class="col-md-1">
                <button class="btn btn-danger" (click)="onDeleteShip(i)">X</button>
            </div>
        </div>
    </div>
</div>
<div class="card-footer">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-success"
            (click)="onAddShip()">Añadir Bote</button>
        </div>
    </div>
</div>
</form>
