<ul class="navbar-nav mr-auto mt-2 mt-lg-0 align-items-center">
    <li class="nav-item">
        <a class="btn btn-light" [routerLink]="['/solicitudes/nueva-solicitud']" routerLinkActive="active" >Solicitudes</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-light" [routerLink]="['/nosotros']" routerLinkActive="active" >Nosotros</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-light" [routerLink]="['/leyes-y-resoluciones']" routerLinkActive="active" >Leyes y Resoluciones</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-light" [routerLink]="['/contactenos']" routerLinkActive="active" >Contáctenos</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-light" [routerLink]="['/faq']" routerLinkActive="active" >Preguntas y Respuestas</a>
    </li>
</ul>
