<div class="row">
    <div class="col-md-12">
        <p class="h4 mb-4">¿Quiénes Somos? Misión, Visión y Funciones de la ONIE</p>

        <p class="h5">¿Quiénes Somos?</p>
        <p>
            La Oficina Nacional de Inspección Estatal (ONIE), Unidad Presupuestada subordinada al Ministerio 
            de la Industria Alimentaria, se creó a partir de la fusión del Centro Nacional de Inspección de la 
            Calidad y la Oficina Nacional de Inspección Pesquera, amparado en la Resolución Ministerial 151 de 14 
            de julio de 2015.
         </p>
        <p>
            El proceso comenzó en julio de 2015 y desde el 1ro de noviembre de ese año comenzamos a funcionar como 
            Oficina Nacional Inspección Estatal.
         </p>

        <p class="h5">Misión:</p>
        <p>
           Planificar, organizar y realizar inspecciones al cumplimiento de las regulaciones establecidas en 
           materia de inocuidad, calidad de los alimentos y bebidas, regulaciones pesqueras, bioseguridad y 
           medio ambiente, en cumplimiento del papel rector del organismo en estas materias, someter a juicio 
           crítico sus resultados, contribuir a la prevención del delito, la corrupción e ilegalidades.
        </p>

        <p class="h5">Funciones:</p>
        <ol>
            <li>
                <p>
                    Ejecutar la inspección estatal en los aspectos relacionados con la gestión y aseguramiento de la inocuidad, calidad y protección al medio ambiente a todas las entidades estatales y no estatales, dedicadas a la producción, procesamiento y comercialización de productos alimenticios y bebidas, comprobando la correspondencia de los requisitos para cada proceso hasta el momento de la venta al consumidor.
                </p>
            </li>
            <li>
                <p>
                    Ejecutar la inspección estatal para verificar el cumplimiento de los requisitos de la inocuidad, calidad y protección del medio ambiente en las nuevas inversiones en establecimientos productores o comercializadores de alimentos y bebidas, así como de servicios fundamentales asociados a estos.
                </p>
            </li>
            <li>
                <p>
                    Ejecutar las funciones que como órgano de inspección y certificación del Sistema Nacional de Inspección y Certificación de Importaciones y Exportaciones de Alimentos y Bebidas le correspondan.
                </p>
            </li>
            <li>
                <p>
                    Ejecutar muestreos y realizar análisis físico químicos, sensoriales, microbiológicos y entomológicos a materias primas y productos alimenticios y bebidas.
                </p>
            </li>
            <li>
                <p>
                    Ejecutar inspecciones a los laboratorios de fábricas productoras de alimentos y bebidas, a fin de comprobar los requisitos técnicos y de gestión que garantizan la confiabilidad de los resultados de sus análisis.
                </p>
            </li>
            <li>
                <p>
                    Realizar trabajos de consultoría, asesoría y auditoría de los sistemas de Buenas Prácticas de Manufactura, Gestión de la Inocuidad y Gestión de la Calidad.
                </p>
            </li>
            <li>
                <p>
                    Controlar los trabajos relacionados con la certificación de productos con la Marca Estatal de Conformidad, y de sistemas de Gestión de Inocuidad basados en HACCP e ISO 22000; así como sistemas de Gestión de Calidad por ISO 9000.
                </p>
            </li>
            <li>
                <p>
                    Actuar como tercero técnico para representar como Laboratorio Oficial de Control reconocido a empresas del Ministerio y a otras organizaciones ante clientes, así como para dirimir discrepancias.
                </p>
            </li>
            <li>
                <p>
                    Asesorar en la implementación de sistemas de gestión de inocuidad, calidad en líneas de producción, transportación y almacenamiento de productos alimenticios y bebidas; en sistemas de inspección de alimentos; en el diseño, montaje y puesta en marcha de laboratorios de ensayo; en la realización del análisis sensorial y en el aseguramiento de las mediciones.
                </p>
            </li>
            <li>
                <p>
                    Controlar el cumplimiento de las medidas regulatorias vigentes en materia de pesca, y garantizar el uso racional de los recursos acuáticos y la conservación de su hábitat, así como la calidad del medio ambiente circundante.
                </p>
            </li>
            <li>
                <p>
                    Conceder, renovar, modificar y cancelar autorizaciones de pesca en concordancia con los requisitos y procedimientos establecidos por el Ministerio de la Industria Alimentaria.
                </p>
            </li>
            <li>
                <p>
                    Verificar el cumplimiento de los requisitos establecidos para la inscripción de los establecimientos productores de alimentos y bebidas en el Registro Nacional de Productores de Alimentos y Bebidas, así como las acciones que procedan con las licencias emitidas en este sentido.
                </p>
            </li>
            <li>
                <p>
                    Promover, dentro del ámbito de su competencia, la actuación judicial contra los responsables de las fuentes terrestres que viertan, derramen o descarguen sustancias perjudiciales o residuos que contengan tales sustancias en las aguas bajo la jurisdicción nacional.
                </p>
            </li>
        </ol>

        <p class="h5">Visión:</p>
        <p>
            Un organismo de inspección compuesto por profesionales capacitados y comprometidos con la organización, 
            con la experticia suficiente y dotada de un sistema de gestión de calidad de inspección, acreditado por 
            las autoridades competentes, que cumpla con las Normas Internacionales NCISO/IEC; equipados con tecnologías 
            modernas de informática y comunicaciones, con los medios de transporte y navales necesarios para cumplir 
            la misión y funciones para las cuales estamos creados; donde el salario decoroso constituya un incentivo 
            y que pueda incluir el beneficio de otras prestaciones. Complementada con una red de Laboratorios 
            Territoriales acreditados por las Normas Internacionales NCISO/IEC que acrediten su competencia técnica 
            y permita constituirnos en una Institución de Referencia Nacional.
        </p>
      
    </div>
</div>
